.wrapper{
  display: flex;
  justify-content: space-between;
  height: 70px;
  border: 1px solid black;
  margin-bottom: 15px;

  .logo{
    position: relative;
    top: 30px;
    left: 10px
  }
  nav {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    a{
      width: 100%;
      margin-right: 40px;
      text-decoration: none;
      color: black;
    }
  }

}

.route-active{
  color: chocolate !important;
}
